/* General */
body {
  font-family: 'Roboto', sans-serif;
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(67, 68, 85, 1);
  display: block;
}

a:hover,
a:focus {
  color: rgba(64, 75, 191, 1);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: var(--navyblue, #2e2f42);
  margin: 0;
}

h1 {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

address {
  font-style: normal;
}

img {
  display: block;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
/* Navigation bar */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container a {
  padding: 24px 0;
}

.logo-text {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-span {
  color: rgba(46, 47, 66, 1);
}

.navigation-links {
  color: #2e2f42;
  font-weight: 500;
  position: relative;
}

.navigation-links::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 100%;
  height: 4px;
  transform: translate(-50%,-50%);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-links:hover::after {
  background-color: #404bbf;
}

.navigation-bar {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-bar {
  display: flex;
  align-items: center;
}



/* Main */
/* First section */

.first-section {
  background-color: rgba(46, 47, 66, 1);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-section-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.order-service-button {
  display: block;
  border-radius: 4px;
  border: none;
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: rgba(64, 75, 191, 1);
}

/* Second section */

.second-section-list {
  display: flex;
  gap: 24px;
}

.second-section-list-title {
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section-list-li {
  width: calc((100% - 72px) / 4);
}

.second-section-icon-container {
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  background: var(--cloud, #f4f4fd);
  position: relative;
  height: 112px;
}

.second-section-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Third section */

.third-section {
  background-color: rgba(244, 244, 253, 1);
}

.third-section-title {
  margin-bottom: 72px;
}

.third-section-li {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.third-section-list {
  display: flex;
  gap: 24px;
}

.third-section-text-container {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.third-section-li-title {
  margin-bottom: 8px;
}

.third-section-li-text {
  text-align: center;
  margin-bottom: 8px;
}

.social-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  position: relative;
  transition: background-color 0.4s;
}

.social-link:hover {
  background-color: var(--ocean, #404bbf);
}

.social-link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Fourth section */

.fourth-section-title {
  margin-bottom: 72px;
}

.fourth-section-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.fourth-section-list-li {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}

.fourth-section-list-li:hover .fourth-section-title-container {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.fourth-section-list-li:hover .overlay-text {
  transform: translateY(0);
}

.fourth-section-title-container {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  transition: box-shadow 0.25s;
}

.fourth-section-list-title {
  text-align: start;
  margin-bottom: 8px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;
  background: var(--iris, #4d5ae5);
  color: var(--cloud, #f4f4fd);
  transform: translateY(100%);
  transition: transform 0.5s;
}

/* Footer section */

.footer-section {
  background-color: rgba(46, 47, 66, 1);
  padding: 100px 0;
}

.footer-logo-container {
  display: inline-block;
  margin-right: 120px;
}

.footer-text {
  color: rgba(244, 244, 253, 1);
  width: 264px;
}

.logo-span-footer {
  color: rgba(244, 244, 253, 1);
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-social-container {
  height: 100%;
}

.footer-social-media {
  color: var(--white, #fff);
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
}
